@import url('https://fonts.googleapis.com/css?family=Bitter:700|Noto+Sans+TC&display=swap');
body{
	background: #f3f3f3;  /* fallback for old browsers */
}
a { 
	color: inherit; 
	text-decoration: none;
} 
a:hover{
	text-decoration: none;
}
.first-container{
	background-image: url(../img/home.png);
	padding: 2% 7% 2% 7%;
	/*
	background: #1c92d2;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #444;
	background-size:100% 100%;
	font-family: 'bitter';
}
.first-container img{
	float: left;
	width: 40px;
}
.first-container h5{
	/*line-height: inherit;*/
	margin-left: 50px;
	font-family: arial;
}

.navbar{
	background-color: #2196f3;
	padding-left: 7%;
}

.navbar-items{
	float: right;
	color: #fff;
}
.nav-item{
	font-family: 'Microsoft YaHei', sans-serif;
	font-size: 1.2rem;
	transition: .3s;
	border: 1.5px solid transparent;
}
.nav-item:hover{
	transition: .3s;
	border: 1.5px solid #FFF;
}

.main-container{
	text-align: center;
}

.index-container{
	background-color: #f3f3f3;
	margin: 0px 5% 5% 5%;
	padding: 5% 5% 5% 5%;
}

.three-icons{
	display: flex;
	justify-content: center;
	text-align: center;
}
.one-icon{
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.backgroundcircle{
	background-color: #2196f3;
	border-radius: 100px;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
.backgroundcircle img{
	width: 150px;
}
.words p{
	margin: 0;
	padding: 10px 0px 0px 0px;
	font-weight: 700;
}
.big-container{
	text-align: justify;
	margin-bottom: 50px;
}
.container{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
.container p{
	text-align: justify;
}
.news li{
	text-align: left;
}
.img-rounded{
	width: 100%;
}
.footer-container{
	padding: 3% 3% 3% 3%;
	align-items: center;
	background-color: #555;
	text-align: center;
}
.footer{
	color: #f3f3f3;
}
.back-to-top{
	text-align: center;
	position: fixed;
	right: 10px;
	bottom: 10px;
	opacity: 0;
	border-radius: 100px;
	transition: .3s;
}
.back-to-top:hover{
	opacity: 1;
	transition: .3s; 
}
.back-to-top img{
	width: 50px;
}
.advisor-container{
	display: flex;
	justify-content: center;
	color: #555;
	margin: 100px 0px 100px 0px
}

.prof-name p{
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	font-weight: 600;
}
.prof-name ul{
	font-size: 1.2rem;
	list-style-type: none;
}
.bio-container{
	display: flex;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
}
.small-container{
	margin-bottom: 30px;
}

.event-container{
	text-align: justify;
}

.buttons{
	display: flex;
	justify-content: space-around;
}

.tst{
	display: flex;
	justify-content: center;
}
/*.btn{
	color: #000;
	text-decoration: none;
	border: 1px solid;
}
.btn:hover{
	text-decoration: none;
	color: #2196f3;
}
.btn:focus{
	border-color: transparent;
	text-decoration: none;
	box-shadow: none;
}*/
.opensans{
	font-family: 'Microsoft YaHei';
}